<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<a href="/article/list">게시판</a><br />
<script type="text/javascript">
    $(document).ready(function(){
        $("#logoutBtn").on("click", function(){
            location.href="member/logout";
        })

    })
</script>
<body>
<form name='homeForm' method="post" action="/member/login">

    <div>
        <label for="userId"></label>
        <input type="text" id="userId" name="userId">
    </div>
    <div>
        <label for="userPw"></label>
        <input type="password" id="userPw" name="userPw">
    </div>
    <div>
        <button type="submit">로그인</button>
        <button type="button" onclick="location.href='/member/register'">회원가입</button>
    </div>

    <div>
        <button id="logoutBtn" type="button">로그아웃</button>
    </div>
</form>
</body>
</html>