<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form name='registerForm' method="post" action="/member/register">

    <div>
        <label for="userId">ID</label>
        <input type="text" id="userId" name="userId">
    </div>
    <div>
        <label for="userPw">PW</label>
        <input type="password" id="userPw" name="userPw">
    </div>
    <div>
        <label for="userName">NAME</label>
        <input type="test" id="userName" name="userName">
    </div>
    <div>
        <button type="submit">Sign in</button>
    </div>

</form>
</body>
</html>